language: node_js
node_js:
  - "0.11"
  - "0.12"
  - "iojs-v1.6.2"
  - "iojs-v2.0.0"
  - "iojs-v2.1.0"
before_script:
  - npm install -g gulp
  - npm install -g tsd
  - npm install -g lab
  - npm install -g coveralls
after_success:
  npm run build
  npm run coveralls
